POSTGRES_PASSWORD=replace-with-a-long-random-password
DB_POOL_SIZE=10
SITE_ADDRESS=http://31.77.10.81
SITE_URL=http://31.77.10.81
OWNER_PREVIEW=false
PAYMENTS_ENABLED=false
VK_CLIENT_ID=54763179
VK_CLIENT_SECRET=
ADMIN_VK_USER_ID=
UNISENDER_API_KEY=
EMAIL_FROM=AniMonster <no-reply@animonster.su>
TELEGRAM_URL=
KODIK_API_TOKEN=
