POSTGRES_PASSWORD=80la+ebF9FXMgQTmK0kD74AavXef0PBQ8I7cwnFnB5w=
DB_POOL_SIZE=10
SITE_ADDRESS=animonster.su
SITE_URL=https://animonster.su
OWNER_PREVIEW=false
PAYMENTS_ENABLED=false
VK_CLIENT_ID=54763179
VK_CLIENT_SECRET=rtGk3vLPdAET04OCjBq8
ADMIN_VK_USER_ID=841772622
UNISENDER_API_KEY=
EMAIL_FROM=AniMonster <no-reply@animonster.su>
TELEGRAM_URL=
KODIK_API_TOKEN=