POSTGRES_PASSWORD=replace-with-a-long-random-password
DB_POOL_SIZE=10
SITE_ADDRESS=animonster.su
SITE_URL=https://animonster.su
LEGAL_SELLER_NAME=
LEGAL_SELLER_INN=
LEGAL_SELLER_ADDRESS=
LEGAL_SELLER_PHONE=
LEGAL_CONTACT_EMAIL=support@animonster.su
OWNER_PREVIEW=false
INVITE_REQUIRED=false
EMAIL_VERIFICATION_ENABLED=false
MEDIA_PROXY_ENABLED=true
MEDIA_PROXY_SECRET=replace-with-at-least-32-random-characters
MEDIA_PROXY_HOSTS=cache.libria.fun,cache1.libria.fun,cache2.libria.fun
PAYMENTS_ENABLED=false
PLATEGA_MERCHANT_ID=
PLATEGA_SECRET_KEY=
VK_CLIENT_ID=54763179
VK_CLIENT_SECRET=
ADMIN_VK_USER_ID=841772622
UNISENDER_API_KEY=
EMAIL_FROM=AniMonster <no-reply@animonster.su>
TELEGRAM_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=replace-with-at-least-32-random-characters
PLUS_EARLY_ACCESS_ENABLED=false
KODIK_API_TOKEN=
KODIK_SYNC_ENABLED=false
KODIK_CATALOG_ENABLED=false
RECOMMENDATION_CRON_SECRET=replace-with-at-least-32-random-characters
