[Unit]
Description=AniMonster episode and Telegram worker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/animonster-plus-worker
User=root
